<div class="main-wrapper layout" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Upload Resume</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="uploadResumeForm" (ngSubmit)="uploadResume()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Mobile" [(ngModel)]="mobile" formControlName="mobile">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Email" [(ngModel)]="email" formControlName="email">
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <ngx-mat-file-input [multiple]="false" formControlName="file"></ngx-mat-file-input>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Upload</button>
    </form>
  </mat-card>

</div>